body {
  font-family: Arial, sans-serif;
  background-image: url(../img/bgLight.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  transition: background-color 0.3s;
}

body.dark-mode {
  background-image: url(../img/bgDark.jpg);
  color: #fff;
}

.container {
  background-color: #ffffff80;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(59, 30, 114, 0.563);
  max-width: 400px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .container {
  background-color: #4141416e;
  color: #fff;
}

h1 {
  text-align: center;
  color: #000;
}

body.dark-mode h1 {
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

body.dark-mode label {
  color: #fff;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 3px;
  margin-bottom: 14px;
  border-radius: 4px;
  outline: 2px solid grey;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

input:focus {
  outline-color: #4ec6ac;
  outline-offset: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7490ae;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #394c5f;
}

body.dark-mode button {
  background-color: #4f53a3;
}

body.dark-mode button:hover {
  background-color: #181a3f;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  color: #333;
}

body.dark-mode #result {
  background-color: #555;
  color: #fff;
}
